body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

  .custom-checkbox {
    background: url("checkbox.png");
    background-position: left;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
    display: block;
  }
  .custom-checkbox_checked{
    background-position: 20px 0;
  }

  .App ul {
    list-style-type: none;
    margin-left: 45%;
  }
  .App ul li{
    margin: 5px 0;
  }
